.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.45rem;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.75rem;
  width: 1.75rem;
  left: 4px;
  bottom: 0;
  background-color: lightsteelblue;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  outline: none;
}

input:checked + .slider:before {

  transform: translate(1.5rem, .125rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
