.list-locations {
  overflow-x: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;

  > button {
    width: 10%;
  }

  table {
    width: 80%;
    margin: 0 auto;
  }
}

.edit-page {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
